* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ccc;
}

form {
  display: flex;
  margin: auto;
  background-color: white;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

button {
  margin: 20px auto 10px auto;
  width: 83%;
  background-color: rgb(35, 135, 218);
  color: white;
  border: none;
  height: 30px;
}

h2 {
  font-size: 1rem;
  text-align: center;
  border-bottom: none;
}

label {
  margin-top: 10px;
  margin-left: 8.5%;
}

input {
  margin: auto;
  width: 80%;
}
